<style lang="scss" scoped>
@import "./default-banner.styles.scss";
</style>

<template>
  <div class="default-banner">
    <div class="default-banner__body">
      <slot name="body"></slot>
    </div>
    <div class="default-banner__image">
      <slot name="image"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

const DefaultBannerComponent = defineComponent({});

export default DefaultBannerComponent;
</script>
