<style lang="scss" scoped>
@import "./textarea-input.styles.scss";
</style>

<template>
  <div class="textarea-wrapper">
    <label v-if="label" :for="id">{{ label }}</label>
    <textarea
      :id="id"
      class="textarea"
      :placeholder="placeholder"
      :name="name"
      @input="
        (e) => {
          onInput(e);
        }
      "
    ></textarea>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
const TextareaInputComponent = defineComponent({
  props: {
    name: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
    label: {
      type: String,
    },
    placeholder: {
      type: String,
      required: true,
    },
    onInput: {
      type: Function,
    },
  },
});

export default TextareaInputComponent;
</script>
