.textarea-wrapper {
    label {
        margin-bottom: 8px;
        display: block;
        cursor: pointer;
        font-weight: bold;
    }
    .textarea {
        box-sizing: border-box;
        resize: none;
        width: 100%;
        min-height: 116px;
    }
    
}