.referral-page {
    display: flex;
    h1 {
        &:first-child {
            margin-top: 0;
        }
    }

    &__side-menu {
        position: fixed;
        width: 20%;

        .file-claim-button-wrapper {
            margin-top: 36px;

            .file-claim-button {
                display: flex;
                align-items: center;
                p {
                    color: $pure-white;
                    margin: 0 0 0 15px;
                }
            }
        }
    }

    &__body {
        width: 70%;
        margin-left: 30%;
        .link-referral-section {
            margin-bottom: 64px;
            .invite-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 32px;
                &__input {
                    flex-grow: 0.9;
                    display: flex;
                }
                img {
                    cursor: pointer;
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }

        .email-invites-section {
            margin-top: 24px;

            .email-errors {
                display: flex;
                align-items: center;
                margin: 8px 0 0px 0;
                p {
                    word-break: break-all;
                    margin: 0 0 0 10px;
                    color: $text-grey-500;
                }
            }

            .send-invites-button-wrapper {
                margin-top: 24px;
            }
        }

        .get-home-insured-section {
            margin-top: 80px;
            h3 {
                color: $pure-white;
                margin-top: 44px;
            }
            p {
                color: $text-luko-blue-200;
            }
        }
    }
}
