<style lang="scss" scoped>
@import "./referral-page.styles.scss";
</style>

<template>
  <div>
    <div class="referral-page">
      <div class="referral-page__side-menu">
        <SideMenuComponent></SideMenuComponent>
        <div class="file-claim-button-wrapper">
          <DefaultButtonComponent :type="ButtonTypes.DEFAULT">
            <div class="file-claim-button">
              <img src="@/assets/icons/add-file.svg" alt="add file" />
              <p>File a claim</p>
            </div>
          </DefaultButtonComponent>
        </div>
      </div>
      <div class="referral-page__body">
        <section class="link-referral-section">
          <h1>Get free insurance</h1>
          <p>
            Invite friends and family to get better insurance, you will both get
            a nice discount. Referees without an <br />
            invite link will have to enter your email address on the payment
            page.
          </p>
          <div class="invite-link">
            <div class="invite-link__input">
              <TextInputComponent
                :value="inviteLinkValue"
                :placeholder="'Luko referral link'"
                :readonly="true"
                ref="copyInput"
              ></TextInputComponent>
            </div>
            <TooltipComponent :message="'Link Copied!'" :display="linkCopied">
              <DefaultButtonComponent
                :type="ButtonTypes.COPY"
                :onClick="copyInviteLink"
              >
                Copy invite link
              </DefaultButtonComponent>
            </TooltipComponent>
            <img src="@/assets/icons/facebook.svg" alt="facebook" />
            <img
              src="@/assets/icons/facebook-messenger.svg"
              alt="facebook messenger"
            />
            <img src="@/assets/icons/whatsapp.svg" alt="whatsapp" />
          </div>
        </section>
        <section class="email-invites-section">
          <h1>Send invites to friends and family</h1>
          <p>
            We won’t sell, share or use these addresses other than to invite
            them, we’d hate that too. <br />To invite multiple at once, input
            one address per line.
          </p>
          <div>
            <TextareaInputComponent
              :label="'Email Address'"
              :placeholder="'john.doe@email.com\njane.doe@email.com'"
              :id="'email-invites'"
              :name="'email-invites'"
              :onInput="handleInviteEmailsInput"
            ></TextareaInputComponent>
            <div
              class="email-errors"
              v-for="(error, index) in emailErrors"
              :key="index"
            >
              <img src="@/assets/icons/info.svg" alt="information" />
              <p>{{ error }}</p>
            </div>
            <div class="send-invites-button-wrapper">
              <DefaultButtonComponent
                :disabled="
                  emailErrors.length > 0 ||
                  inviteTextAreaValue.trim().length == 0 ||
                  validating
                "
              >
                Send invites
              </DefaultButtonComponent>
            </div>
          </div>
        </section>
        <section class="get-home-insured-section">
          <DefaultBannerComponent>
            <template v-slot:body>
              <h3>Luko also protects your home</h3>
              <p>
                Non-occupying homeowners and PEV riders get 1 year of free PEV
                or non-occupying homeowner insurance when insuring their main
                home with Luko!
              </p>
              <DefaultButtonComponent :type="ButtonTypes.PASSIVE"
                >Get my home insured</DefaultButtonComponent
              >
            </template>
            <template v-slot:image
              ><img src="@/assets/images/gift-box.svg" alt="gift box"
            /></template>
          </DefaultBannerComponent>
        </section>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, inject } from "vue";
import TextInputComponent from "../../lib/components/inputs/text-input/text-input.component.vue";
import SideMenuComponent from "../../lib/components/menus/side-menu/side-menu.component.vue";
import TextareaInputComponent from "../../lib/components/inputs/textarea-input/textarea-input.component.vue";
import DefaultBannerComponent from "../../lib/components/banners/default-banner/default-banner.component.vue";
import * as clipboard from "clipboard-polyfill/text";
import TooltipComponent from "../../lib/components/tooltip/tooltip.component.vue";
import { EmailValidationService } from "@/lib/services/email-validation/email-validation.service";
import { ButtonTypes } from "@/lib/components/buttons/default-button/enums/ButtonTypes.enum";
import { AppContainerSymbol } from "@/inversify.config";
import { Container } from "inversify";
import DefaultButtonComponent from "@/lib/components/buttons/default-button/default-button.component.vue";

const ReferralPageComponent = defineComponent({
  components: {
    SideMenuComponent,
    TextInputComponent,
    DefaultButtonComponent,
    TextareaInputComponent,
    DefaultBannerComponent,
    TooltipComponent,
  },

  data() {
    return {
      inviteTextAreaValue: "",
      emailErrors: new Array<string>(),
      linkCopied: false,
      linkCopyTimer: 0,
      debounceTimer: 0,
      validating: false,
    };
  },

  setup() {
    const emailValidationService: EmailValidationService = (inject(
      AppContainerSymbol
    ) as Container).get(EmailValidationService);

    const inviteLinkValue = "https://luko.eu/join/luko@email.com";

    return {
      ButtonTypes,
      inviteLinkValue,
      emailValidationService,
    };
  },

  methods: {
    copyInviteLink(): void {
      clipboard.writeText(this.inviteLinkValue).then(
        () => {
          clearTimeout(this.linkCopyTimer);
          this.linkCopied = true;
          this.linkCopyTimer = setTimeout(() => {
            this.linkCopied = false;
          }, 2000);
        },
        () => {
          throw new Error("Could not copy link");
        }
      );
    },
    handleInviteEmailsInput(e: Event): void {
      this.inviteTextAreaValue = (e.target as HTMLInputElement).value;
      clearTimeout(this.debounceTimer);
      this.validating = true;

      this.debounceTimer = setTimeout((): void => {
        this.validateEmails(this.inviteTextAreaValue);
        clearTimeout(this.debounceTimer);
      }, 500);
    },

    validateEmails(validationString: string): void {
      const candidateString: string = validationString
        .replaceAll(/(\r|\n)+/g, "\n")
        .trim();

      this.emailErrors = [];

      if (candidateString.length > 0) {
        this.emailValidationService
          .validateEmails(candidateString.split("\n"))
          .then((result: string[]) => {
            this.emailErrors = result;
            this.validating = false;
          });
      }
    },
  },
});

export default ReferralPageComponent;
</script>
