<style lang="scss" scoped>
@import "./text-input.styles.scss";
</style>

<template>
  <input
    :placeholder="placeholder"
    class="input"
    type="text"
    :value="value"
    :readonly="readonly"
  />
</template>

<script lang="ts">
import { defineComponent } from "vue";

const TextInputComponent = defineComponent({
  props: {
    value: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: true,
    },
    readonly: {
      type: Boolean,
    },
  },
});

export default TextInputComponent;
</script>
