<style lang="scss" scoped>
@import "./default-button.styles.scss";
</style>

<template>
  <button
    :class="`button ${disabled ? '' : getButtonTypeClass()}`"
    :disabled="disabled"
    @click="onClick"
  >
    <slot></slot>
  </button>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { ButtonTypes } from "./enums/ButtonTypes.enum";

const DefaultButtonComponent = defineComponent({
  props: {
    type: {
      type: Object as PropType<ButtonTypes>,
    },
    disabled: {
      type: Boolean,
    },
    onClick: {
      type: Function,
      default: () => null,
    },
  },
  methods: {
    getButtonTypeClass(): string {
      switch (this.type) {
        case ButtonTypes.DANGER:
          return "button--danger";
        case ButtonTypes.PASSIVE:
          return "button--passive";
        case ButtonTypes.COPY:
          return "button--copy";
        default:
          return "button--default";
      }
    },
  },
});

export default DefaultButtonComponent;
</script>
