.button {
    border: none;
    border-radius: 8px;
    padding: 13px 28px;
    color: $text-pure-white-1000;
    cursor: pointer;

    &--danger {
        background-color: $terracota-red-500;
        &:hover {
            background-color: lighten($terracota-red-500, 5%);
        }
    }
    &--passive {
        background-color: $luko-blue-400;
        &:hover {
            background-color: lighten($luko-blue-400, 5%);
        }
    }
    &--copy {
        background-color: $luko-blue-500;
        &:hover {
            background-color: lighten($luko-blue-500, 5%);
        }
        cursor: copy;
    }
    &--default {
        background-color: $luko-blue-500;
        &:hover {
            background-color: lighten($luko-blue-500, 5%);
        }
    }

    &:disabled {
        cursor: default;
        background-color: $grey-100;
        color: $text-grey-300;
    }   
}