<style lang="scss" scoped>
@import "./header.styles.css";
</style>

<template>
  <div class="app-header">
    <img src="@/assets/icons/luko.svg" alt="Luko logo" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";

export const HeaderComponent = defineComponent({});

export default HeaderComponent;
</script>
