.tooltip-wrapper {
    display: flex;
    justify-content: center;
    .tooltip {
        opacity: 0;
        position: absolute;
        z-index: -1;
        margin-top: -45px;
        background-color: $text-grey-1000;
        color: $pure-white;
        padding: 12px;
        border-radius: 8px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        &::after {
            content: "";
            position: absolute;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $text-grey-1000 transparent transparent transparent;
            margin-bottom: -22px;
        }
        &--display {
            z-index: 1;
            opacity: 1;
            margin-top: -55px;
        }
        transition: opacity 0.2s, margin-top 0.2s;
    }
}
