<style lang="scss" scoped>
@import "./tooltip.styles.scss";
</style>

<template>
  <div class="tooltip-wrapper">
    <span :class="['tooltip', display ? 'tooltip--display' : ''].join(' ')">{{
      message
    }}</span>
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

const TooltipComponent = defineComponent({
  props: {
    message: {
      type: String,
      required: true,
    },
    display: {
      type: Boolean,
      required: true,
    },
  },
});

export default TooltipComponent;
</script>
