<style lang="scss">
@import "./side-menu.styles.scss";
</style>

<template>
  <nav class="side-menu">
    <ul>
      <li>
        <img src="@/assets/icons/home.svg" />
        <p>Welcome</p>
      </li>
      <li class="active">
        <img src="@/assets/icons/gift.svg" />
        <p>Get free insurance</p>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from "vue";

const SideMenuComponent = defineComponent({});

export default SideMenuComponent;
</script>
