.side-menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            p {
                color: $text-grey-1000;
                margin-left: 10px;
            }
        }
    }
    .active {
        p {
            color: $text-luko-blue-500;
            font-weight: bold;
        }
    }
}