<style lang="scss" scoped>
@import "./app.styles.scss";
</style>

<template>
  <div id="app">
    <HeaderComponent></HeaderComponent>
    <h1>{{ username }}</h1>
    <div class="page">
      <ReferralPageComponent></ReferralPageComponent>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, provide } from "vue";
import HeaderComponent from "./lib/components/header/header.component.vue";
import ReferralPageComponent from "./pages/referral-page/referral-page.component.vue";
import { AppContainer, AppContainerSymbol } from "./inversify.config";
import { Container } from "inversify";
import { useStore } from "vuex";
import { IRootState } from "./stores/types";

const App = defineComponent({
  components: {
    ReferralPageComponent,
    HeaderComponent,
  },
  setup() {
    provide<Container>(AppContainerSymbol, AppContainer);

    const store = useStore<IRootState>();
    const username = computed(() => store.getters.username);

    return { username };
  },
});

export default App;
</script>
