@font-face {
    font-family: Lato;
    src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato;
    src: url('./assets/fonts/Lato-Bold.ttf');
    font-weight: bold;
}


body {
    background-color: $grey-50;
    font-family: Lato;
    color: $text-grey-700;

    h1 {
        font-size: $h1-size;
        color: $text-grey-1000;
        margin: 0.5em 0;
    }
    p {
        line-height: $paragraph-line-height;
        color: $text-grey-700;
    }

    input, textarea {
        padding: 12px 24px;
        border-radius: 8px;
        background-color: $pure-white;
        color: $luko-blue-500;
        border: 2px solid $border-grey;
        outline: none;
        width: 100%;
        line-height: 24px;
        &:focus {
            border-color: #2d50e6;
            box-shadow: 0 0 0 4px #d6e3fd;
        }
    
        transition: border-color .2s, box-shadow .2s;
    }
}